<div nz-row style="width: 100%; height: 15vh">
    <div nz-col nzSpan="8">
        <h1>{{players[0]?.name}}</h1>
        <h2>Score: {{players[0]?.score}}</h2>
    </div>
    <div nz-col nzSpan="8" nzOffset="8">
        <h1>{{players[1]?.name}}</h1>
        <h2>Score: {{players[1]?.score}}</h2>
    </div>
</div>

<div class="flex-vertical" style="width: 100%; height: 85vh; justify-content: center;">
    <div id="board" class="flex-vertical" nzCentered>
        <div *ngFor="let row of boardState; let i=index" class="flex-horizontal" style="width: 100%; height: 33.33%;">
            <div *ngFor="let element of row; let j=index" style="width: 33.33%; height: 100%">
                <button style="width: 100%; height: 100%" 
                    class="box" (click)="this.updateBoard([i,j])"
                    [disabled]="boardState[i][j].checked"
                    ><strong>{{boardState[i][j].value}}</strong></button>
            </div>
        </div>    
    </div>
    <button nz-button nzType="default" (click)="this.router.navigate(['/'])">Go Home</button>
</div>


<nz-modal nzCentered [nzClosable]="false" [(nzVisible)]="isGameOver">
    <div *nzModalContent [innerHtml]="gameOverMessage">
    </div>
    <ng-container *nzModalFooter>
        <button (click)="goHome()" nz-button nzType="default">Go Home</button>
        <button (click)="newGame()" nz-button nzType="primary">New Game</button>
    </ng-container>
</nz-modal>